.form__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkbox__label {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
}

.checkbox__label input[type="checkbox"] {
    width: 24px;
    height: 24px;
}

.form__input {
    height: 48px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 16px;

    &:focus {
        outline: none;
        border-color: var(--color-primary);
    }
}

.form__input[type="date"] {
    resize: none;
}

textarea.form__input {
    padding: 16px;
    min-height: calc(16px * 20);
    resize: vertical;
}

.form__file {
    background: #FFF;
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    color: var(--color-primary);
    font-size: 16px;
}

.form__file::file-selector-button {
    height: 44px;
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
    color: #FFF;
}

.form__select {
    position: relative;
    display: flex;
    cursor: pointer;
}

.form__select select {
    display: none;
}

.form__select_item {
    height: 48px;
    background: var(--color-primary-light);
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    color: var(--color-primary);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: flex 0.5s ease-out;
    min-width: 33%;
}

.form__select_selected {
    background: var(--color-primary);
    color: #FFF;
    flex: 1;
}

.form__select_item:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form__select_item:last-of-type {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form__toggle__checkbox {
    /*display: none;*/
}

.form__toggle__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    background: var(--color-primary);
    font-weight: 400;
    color: var(--color-primary);
    cursor: pointer;
 }

 .form__toggle__container::before {
   content: '';
   position: absolute;
   width: 50%;
   height: 100%;
   left: 0%;
   border-radius:6px;
   background: white;
   transition: all 0.3s;
 }

 .form__toggle__checkbox:checked + .form__toggle__container::before {
    left: 50%;
 }

 .form__toggle__container div {
   padding: 16px;
   text-align: center;
   z-index: 1;
 }

 .form__toggle__checkbox:checked + .form__toggle__container div:first-child{
   color: white;
   transition: color 0.3s;
 }

 .form__toggle__checkbox:checked + .form__toggle__container div:last-child{
   color: var(--color-primary);
   transition: color 0.3s;
 }

 .form__toggle__checkbox + .form__toggle__container div:first-child{
   color: var(--color-primary);
   transition: color 0.3s;
 }

 .form__toggle__checkbox + .form__toggle__container div:last-child{
   color: white;
   transition: color 0.3s;
 }

.form__error__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__error__item {
    color: var(--color-danger);
    font-size: 14px;
}

button[type="submit"], .form__button {
    height: 48px;
    background: var(--color-primary);
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 0 16px;
}

.form__button:link, .form__button:visited, .form__button:hover, .form__button:active  {
    text-decoration: none;
}

.form__button_secondary {
    background: var(--color-primary-light);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

input:invalid {
    border-color: var(--color-danger);
}