.form__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__input {
    height: 48px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 16px;

    &:focus {
        outline: none;
        border-color: var(--color-primary);
    }
}

.form__select {
    position: relative;
    display: flex;
    cursor: pointer;
}

.form__select select {
    display: none;
}

.form__select_item {
    height: 48px;
    background: var(--color-primary-light);
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    color: var(--color-primary);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: flex 0.5s ease-out;
    min-width: 33%;
}

.form__select_selected {
    background: var(--color-primary);
    color: #FFF;
    flex: 1;
}

.form__select_item:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form__select_item:last-of-type {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form__error__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__error__item {
    color: var(--color-danger);
    font-size: 14px;
}

button[type="submit"], .form__button {
    height: 48px;
    background: var(--color-primary);
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 0 16px;
}

.form__button:link, .form__button:visited, .form__button:hover, .form__button:active  {
    text-decoration: none;
}

.form__button_secondary {
    background: var(--color-primary-light);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

input:invalid {
    border-color: var(--color-danger);
}