.register__container {
    display: flex;
    justify-content: center;
}

.card {
    background: #fff;
    border-radius: 32px;
    padding: 64px;
    box-shadow: var(--box-shadow);
    width: 600px;
}

.register__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.register__container form[data-user-type='company'] .register__jobseeker {
    display: none;
}

.register__container form[data-user-type='job_seeker'] .register__company {
    display: none;
}