{% extends "job_application/_base_application.html" %}

{% block application_form %}
<div class="card application__contact__form__container">
    <form method="post" class="application__contact__form">
        {% csrf_token %}
        {{ wizard.management_form }}

        <h2 class="application__form__title">{{ title }}</h2>

        {% include "_input.html" with name="contact_information-full_name" label="Full name" value=form.full_name.value errors=form.full_name.errors %}

        {% include "_input.html" with name="contact_information-street_name" label="Street name" value=form.street_name.value errors=form.street_name.errors %}

        {% include "_input.html" with name="contact_information-house_number" label="House number" value=form.house_number.value errors=form.house_number.errors %}

        {% include "_input.html" with name="contact_information-city" label="City" value=form.city.value errors=form.city.errors %}

        <div class="form__field">
            <label for="contact_information-country">Country</label>
            <select name="contact_information-country" class="form__input">
                <option></option>
                {% for choice in form.country.field.choices %}
                <option value="{{ choice.0 }}" {% if form.country.value == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                {% endfor %}
            </select>
            {% if form.country.errors %}
                <ul class="form__error__list">
                    {% for error in form.country.errors %}
                        <li class="form__error__item">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% include "_input.html" with name="contact_information-postal_code" label="Postal code" value=form.postal_code.value errors=form.postal_code.errors %}

        <button type="submit" class="form__button">
            Next step
        </button>
    </form>
</div>
{% endblock %}
