{% extends "_base.html" %}

{% block title %}Job Hunters - Applications{% endblock %}

{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'applications.css' %}" />
{% endblock %}

{% block content %}
<div class="applications__container">
    <div class="applications__list">
        {% for application in applications %}
        <div class="card application__item">
            <div class="application__item__titles__container">
                <div class="application__item__title__container">
                    <h3 class="application__item__title">{{ application.job.title }}</h3>{% if is_company %} <span class="application__applicant__name">{{ application.applicant.userprofile.full_name }} - <i>{{ application.applicant.email }}</i>{% endif %}</span>

                    <p>
                        {% if application.job.is_part_time %}
                        Part
                        {% else %}
                        Full
                        {% endif %}
                        time position
                    </p>
                </div>

                <p class="application__item__subtitle">{{ application.job.offered_by.name }}</p>
            </div>

            <div class="application__item__action__container">
                <div class="application__item__date">
                    <i class="fa-regular fa-calendar-plus"></i>
                    <p class="application__item__date">{{ application.applied_at|date:"M jS Y" }}</p>
                </div>

                <div class="application__item__status application__item__status__{{ application.status|lower }}">
                    {{ application.status|lower|capfirst }}
                </div>

                <a class="application__item__link" href="{% url 'job' job_id=application.job.id %}">
                    Details
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
        {% empty %}
        <div class="card application__item">
            <p class="application__item__empty">{% if is_company %}No one has applied to your jobs yet.{% else %}You have not applied to any jobs yet.{% endif %}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
