{% extends "_base.html" %}

{% block title %}Job Hunters - {{ company.name }}{% endblock %}

{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'company.css' %}" />
{% endblock %}

{% block content %}
<div class="company__container company__container-companyprofile">
        <div class="card company__card">
            <div class="company__company-cover">
                <div class="company__company-cover-image">
                {% if cover_data %}
                    <img src="{{ cover_data }}" alt="company cover image" height="100%" width="100%" />
                {% else %}
                    <img src="{%  static 'profile_cover_placeholder.jpg' %}" alt="default company cover image" height="100%" width="100%" />
                {% endif %}
                </div>
                <div class="company__company-cover-logo">
                    <img src="{{ logo_data }}" alt="company logo" height="100%" width="100%" />
                </div>
            </div>
            <div class="company__company-details">
                    <h1 class="company__company-details-full-row">{{ company.name }}</h1>
                    <p class="company__company-address"><i class="fa-solid fa-location-dot"></i> {{ company.address }}</p>
                    <div class="company__company-description">
                        {% autoescape off %}
                            <p>{{ company.description |safe }}</p>
                        {% endautoescape %}
                    </div>

                    <div>
                        <a href="{{ company.webpage_url }}" target="_blank" class="company__website">{{ company.webpage_url }}</a>
                    </div>
            </div>
        </div>
        <div class="card company__card company__job-listings">
            <h4>Open listings</h4>
            {% for job in company_jobs %}
                <a href="{{ job.get_absolute_url }}" class="company__job-listing">{{ job.title }} <i class="fa-solid fa-link"></i> </a>
            {% empty %}
            	<span>No listings found</span>
            {% endfor %}
        </div>
</div>
{% endblock %}
