{% extends "_base.html" %}

{% block title %}Job Hunters - Job Details{% endblock %}

{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'job_details.css' %}" />
{% endblock %}

{% block content %}
<div class="job_details__container">
    <aside>
        {% if application %}
            <div class="card job_details__applied">
                <h4 class="job_details__applied__title">💥Yoo-hoo!👀</h4>
                <p class="job_details__applied__subtitle">You already applied to this job</p>
                <p class="job_details__applied__subtitle">Do you want to look at more available jobs?</p>
                <a href="{% url 'jobs' %}" class="job_details__applied__link">
                    See available jobs
                </a>
            </div>
        {% endif %}
        <div class="card job_details__company_details">
            <img class="job_details__company__logo" src="{{ company_logo_data }}"/>
            <h4 class="job_details__company__title">{{ job.offered_by.name }}</h4>
            <p class="job_details__company__subtitle">{{ job.offered_by.address }}</p>
            <div class="job_details__company__description">{% autoescape off %}{{ job.offered_by.description |safe |slice:120}}{% endautoescape %}</div>
            <a href="{{ job.offered_by.get_absolute_url }}" class="job_details__company__link">
                More about company
            </a>
        </div>
    </aside>

    <div class="card job_details__card">
        <h3>{{ job.title }}</h3>

        <div class="job_details__grid">
            <p class="job_details__grid__header">Type</p>
            <p>
                {% if job.is_part_time %}
                Part
                {% else %}
                Full
                {% endif %}
                time position
            </p>

            <p class="job_details__grid__header">Location</p>
            <p>{{ job.offered_by.address }}</p>

            <p class="job_details__grid__header">Category</p>
            <p>
                {% for category in job.categories.all %}
                    {{ category.name }}
                {% endfor %}
            </p>

            <p class="job_details__grid__header">Due date</p>
            <p>{{ job.due_date|date:"M jS Y" }}</p>

            <p class="job_details__grid__header">Starting date</p>
            <p>{{ job.starting_date|date:"M jS Y" }}</p>

            <p class="job_details__grid__header">Description</p>
            <div class="job_details__job__description">{% autoescape off %}{{ job.description |safe}}{% endautoescape %}</div>
        <div/>

        {% if user_is_company %}
            <div class="job_details__apply_button job_details__apply_button__disabled">
                Companies can not apply for jobs
            </div>
        {% elif application %}
            <div class="job_details__apply_button job_details__apply_button__status job_details__apply_button__status__{{ application.status|lower }}">
                {{ application.status|lower|capfirst }}
            </div>
        {% else %}
            <a href="{% url 'job_apply' job_id=job.id %}" class="job_details__apply_button">
                Apply for this job
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}
