{% extends "_base.html" %}

{% block title %}Job Hunters - Profile{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'profile.css' %}" />
{% endblock %}

{% block content %}
<div class="profile__container">
    <div class="profile__image-card">
        <img src="{{ image_data }}" height="100%" width="100%" />
    </div>

    <div class="card profile__card">
        <form method="post" enctype="multipart/form-data" class="profile__form">
            {% csrf_token %}

            <h2>My profile</h2>

            <div class="form__field">
                <label for="full_name">Full name</label>
                <input id="full_name" type="text" name="full_name" placeholder="Full name" class="form__input" value="{{ user.userprofile.full_name }}" />
                {% if form.full_name.errors %}
                    <ul class="form__error__list">
                        {% for error in form.full_name.errors %}
                            <li class="form__error__item">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form__field">
                <label for="profile_image">Profile image</label>
                <input id="profile_image" type="file" name="profile_image" value="{{ form.profile_image.value }}" class="form__file"/>
                {% if form.profile_image.errors %}
                    <ul class="form__error__list">
                        {% for error in form.profile_image.errors %}
                            <li class="form__error__item">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <button type="submit">
                Save profile
            </button>
        </form>
    </div>
</div>
{% endblock %}
